/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}

/* Barra de perfil (cabeçalho) */
.barra-perfil {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.texto-perfil {  
    font-size: 16px; 
    color: #333; 
    flex-grow: 1; 
    text-align: left; 
    margin-left: 20px;
}

/* Avatar do perfil */
.perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Botão de sair */
.sair {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    margin-right: 30px;
}

.sair:hover {
    background-color: #d9d9d9; 
}

.sair img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-left: 3px;
}

/* Corpo principal da página */
.corpo-principal {
    display: flex;
    height: calc(100vh - 60px); 
}

/* Barra lateral de navegação */
.barra-lateral {
    background-color: #00a69c;
    width: 15%;
    padding: 20px;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.barra-lateral ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.barra-lateral ul li {
    margin: 20px 0;
    text-align: center;
}

/* Links da barra lateral */
.barra-lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.barra-lateral ul li a img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

/* Efeito de hover para os links da barra lateral */
.barra-lateral ul li a:hover {
    text-decoration: underline;
    transform: scale(1.05); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Conteúdo principal */
.content {
    width: 85%;
    padding: 20px;
    overflow-y: auto; 
}

/* Seção de localização */
.localizacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6fff2;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.localizacao:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Imagem dentro da seção de localização */
.localizacao img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

/* Informação dentro da seção de localização */
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; 
}

.info h3 {
    margin: 0;
}

.info p {
    margin: 5px 0;
}

/* Botão de acesso ao mapa */
.map-btn {
    background-color: #35da4b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    align-self: flex-end; 
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.map-btn:hover {
    background-color: #2bc63e;
    transform: scale(1.05); 
}
