/* Estilos gerais da página */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
}

/* Seção principal do corpo */
.CorpoPrincipal {
    height: 100vh; 
    background-image: url('Logo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
}

/* Barra de perfil no topo da página */
.barra-perfil {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.texto-perfil {
    font-size: 16px; 
    color: #333; 
    flex-grow: 1; 
    text-align: left; 
    margin-left: 20px;
}

/* Avatar do perfil */
.perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    overflow: hidden;
    border: 2px solid black;
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Botão de sair */
.sair {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    margin-right: 30px;
}

.sair:hover {
    background-color: #d9d9d9; 
}

.sair img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-left: 3px;
}

/* Caixa que contém os botões principais */
.CaixaBalaoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin: 40px 0;
    gap: 30px; 
    overflow: auto; 
    max-height: calc(100vh - 100px); 
}

/* Botões dentro da CaixaBalaoes */
.CaixaBalaoes .Botao {
    width: 260px;
    height: auto;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
    background-color: #e6fff2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

/* Efeito de hover para os botões */
.CaixaBalaoes .Botao:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
}

/* Imagens dentro dos botões */
.Botao img {
    width: 50px;
    height: 50px;
    margin: 20px auto; 
}

/* Títulos dos botões */
.Botao h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

/* Descrições dos botões */
.Botao h3 {
    font-size: 14px;
    color: #555;
    line-height: 1.5; 
}

/* Links gerais */
a {
    color: #333;
    text-decoration: none; 
}

a:hover {
    color: #111; 
    text-decoration: none;
}
