body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif; /* Adiciona uma fonte padrão e clean */
}


.CorpoPrincipal {
    height: 100vh;
    background-image: url('Logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.barra-perfil {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.texto-perfil {  
        font-size: 16px; 
        color: #333; 
        flex-grow: 1; 
        text-align: left; 
        margin-left: 20px;
}

.perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}
.sair {
    width: 70px;
    height: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 2px solid black;
    text-align: center;
    padding: 5px; 
    background-color: #f0f0f0; 
    cursor: pointer; 
    margin-right: 2cm; /* Move o botão 5 cm para a esquerda */
}


 .sair img{
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-left: 3px;
 }


.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CaixaBalaoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 30px; /* Espaçamento entre os cartões */
}

.CaixaBalaoes .Botao {
    width: 260px;
    height: auto;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #bde0fe;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.CaixaBalaoes .Botao:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.Botao img {
    width: 50px;
    height: 50px;
    margin: 20px auto;
}

.Botao h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.Botao h3 {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #111;
    text-decoration: none;
}



