body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.barra-perfil {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.texto-perfil {
    font-size: 16px;
    color: #333;
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}

.perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}

.sair {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.sair img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-left: 3px;
}


.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.corpo-principal {
    display: flex;
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
}


.barra-lateral {
    background-color: #00a69c;
    width: 15%; 
    height: 100%;
    padding: 20px 0; 
    display: flex;
    flex-direction: column;
}

.barra-lateral ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.barra-lateral ul li {
    margin: 20px 0;
    text-align: center;
}

.barra-lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.barra-lateral ul li a img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.barra-lateral ul li a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.content {
    width: 85%; 
    padding: 20px;
    overflow-y: auto;
}


.provas {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e6fff2;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    gap: 20px;
    margin-top: 10px;
    margin-left:50%;
}

.provas:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.provas img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.info h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.info p {
    margin: 5px 0;
}

.btn-class {
    align-items: center;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.agendar,
.editar {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}

.agendar {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: #28a745;
    cursor: pointer;
}

.agendar:hover {
    background-color: #1e7e34;
}

.editar {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: #fd7e14;
    cursor: pointer;
}

.editar:hover {
    background-color: #ff9900;
}

.agendar img,
.editar img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-left: 3px;
}