/* Estilos globais para o body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71)); 
}

/* Animação de subida */
@keyframes slideUp {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

/* Caixa centralizada para o conteúdo */
.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    opacity: 0;
}

/* Classe para aplicar a animação de subida */
.animate-box {
    animation: slideUp 1s ease forwards; /* Animação de subida de 1 segundo */
}

/* Estilo do fieldset */
fieldset {
    border: 3px solid dodgerblue; 
}

/* Estilo da legenda do fieldset */
legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue; 
    border-radius: 8px;
}

/* Caixa para os inputs */
.inputBox {
    position: relative; 
}

/* Estilo dos campos de entrada de texto */
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white; 
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

/* Label dentro da caixa de input */
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none; 
    transition: 0.5s; 
}

/* Animação do label ao focar ou ao digitar no campo */
.inputUser:focus ~ .labelInput,
.inputUser:not(:placeholder-shown) ~ .labelInput {
    top: -20px; 
    font-size: 12px;
    color: dodgerblue; 
}

/* Estilo do botão de envio */
#submit {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220)); 
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

/* Hover do botão de envio */
#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195)); 
}

/* Parágrafo centralizado */
p {
    text-align: center;
    margin-top: 10px;
}

/* Links */
a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}
