/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
}

/* Barra de perfil (cabeçalho) */
.barra-perfil {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.texto-perfil {  
    font-size: 16px; 
    color: #333; 
    flex-grow: 1; 
    text-align: left; 
    margin-left: 20px;
}

/* Avatar do perfil */
.perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Botão de sair */
.sair {
   
        width: 70px;
        height: 30px;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        border: 2px solid black;
        text-align: center;
        padding: 5px; 
        background-color: #f0f0f0; 
        cursor: pointer; 
        margin-left: 27cm; /* Move o botão 5 cm para a esquerda */
    }
     


.sair:hover {
    background-color: #d9d9d9; 
}

.sair img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-left: 3px;
}

/* Estilos para o formulário de administração */
#adminForm {
    margin-top: 20px;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
}

.inputGroup button {
    margin-left: 10px;
    background-color: #00a69c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.inputGroup button:hover {
    background-color: #009688; 
}

input[type="text"], input[type="date"], input[type="time"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%; 
    transition: border-color 0.3s ease-in-out; 
}

input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus{
    border-color: #00a69c;
}

/* Estilos para o botão de salvar */
#submit {
    background-color: #35da4b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; 
}

#submit:hover {
    background-color: #2bc63e; 
}
